.vs/*
Binaries/*
Saved/*
DerivedDataCache/*
Intermediate/*
Content/EnvironmentPack2/Maps/DemoMap1_BuiltData.uasset
Content/EnvironmentPack2/Maps/DemoMap2_BuiltData.uasset
Content/EnvironmentPack2/Maps/DemoMap3_BuiltData.uasset
Content/InfinityBladeEffects/*
Content/InfinityBladeWeapons/*
Content/InfinityBladeIceLands/*
Content/StarterContent/*
Content/Paragon*/*
Content/SampleMap/*